@charset "utf-8";
/* CSS Document */

.out-pick{margin:17px 0 10px 30px;min-width: 840px;}
.out-pick ul li{margin-bottom:15px;width:50%;line-height:28px;height:30px;}
.out-pick input[type="text"]{border:1px solid #DFE3E9;border-radius:4px;height:26px;width:201px;text-align:center;color:#999;font-size:12px;}
.out-pick .linkman input[type="text"]{position:absolute;top:1px;right:215px; z-index:999}
.out-pick .linkman .xiala{position:absolute;top:14px;right:223px; z-index:1000}
.out-pick .linkman select{position:absolute;top:0;right:0; z-index:99}
.out-pick #inpstart,.out-pick #inpend{text-indent:13px;background:url('../img/icon16.png') no-repeat 50px center; background-size:16px 16px;width:201px; letter-spacing:0;}
.out-pick ul li .pick-span{margin-right:10px;width:90px;}
.out-pick ul li .add-to{width:59px;height:20px;line-height:20px;background:#DFE1E5;color:#666;border-radius:3px;}
.Sale .select2-container{margin-right:20px;}
.out-bottom {margin-bottom:25px;}
.out-bottom .bottom-span{width:90px;margin-right:10px;line-height:22px;}
.out-bottom textarea{border:1px solid #DFE3E9;border-radius:4px;height:50px;width:607px;text-align:left;color:#999;font-size:12px;padding:25px 25px; vertical-align:middle;}
.out-bottom .reimbursement{border:1px solid #DFE3E9;border-radius:5px;width:650px;height:140px; vertical-align:middle;padding-top:8px;padding-left:8px;}
.out-bottom .reimbursement p{margin:10px 0 10px 10px;}
.out-bottom .reimbursement p .check-box{margin: 0 5px;}
.out-bottom .reimbursement input[type="radio"]{display:none;}
.out-bottom .reimbursement input[type="checkbox"]{display:none;}
.out-bottom input[type="checkbox"]{width:16px;height:16px;vertical-align:middle;}
.out-bottom input[type="text"]{width:74px;height:26px;border:1px solid #DFE3E9;border-radius:4px;text-align:center;color:#999;font-size:12px;margin:0 4px;}
.reimbursement p span{height:16px;line-height:16px;background:url('../img/icon21.png') no-repeat left center; background-size:16px 16px;text-indent:23px;}
.reimbursement p span.active{background:url('../img/icon20.png') no-repeat left center; background-size:16px 16px; }
.out-bottom label i{width:16px;height:16px;background:url('../img/icon28.png') no-repeat center center; background-size:16px 16px; vertical-align:sub;margin-right:3px;}
.out-bottom label i.i-active{width:16px;height:16px;background:url('../img/icon29.png') no-repeat center center; background-size:16px 16px;}
#staff span{margin-right:4px;padding:0 10px;border-bottom:1px solid #ddd;line-height:22px;max-width:350px; vertical-align:top;}


/* 添加出差人弹窗 */
.out-people{width:312px;height:534px;top:50%;left:50%;margin-top:-267px;margin-left:-156px;border-radius:6px;z-index:99999; overflow:hidden;}
.out-people h5{height:42px;line-height:42px;border-radius:4px;background:#46AFE8;border-radius:6px;}
.check-name {margin: 13px 35px 10px 35px;}
.check-name label {background-color: #FFF;border: 1px solid #DFE3E9;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 7px;border-radius: 5px;display: inline-block;position: relative;margin-right: 8px;margin-top:2px;}
.check-name label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.check-name input:checked + label {background-color: #E9EDF1;border: 1px solid #DFE3E9;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);color: #243441;}
.check-name input:checked + label:after {content: '\2714';position: absolute;top: -1px;left: 0px;color: #97CDEC;width: 100%;text-align: center;font-size: 12px;}

#demo{margin: 10px 35px;padding:7px 0 35px 50px;border:1px solid #DFE3E9;border-radius:3px;height:350px;overflow-y:scroll;}
#demo li input[type="checkbox"]{display:none;}
#demo li label {background-color: #FFF;border: 1px solid #DFE3E9;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);padding: 7px;border-radius: 5px;display: inline-block;position: relative;margin-right: 2px; vertical-align:sub;}
#demo li label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
#demo li input:checked + label {background-color: #E9EDF1;border: 1px solid #DFE3E9;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);color: #243441;}
#demo li input:checked + label:after {content: '\2714';position: absolute;top: -5px;left: 0px;color: #8F96A1;width: 100%;text-align: center;font-size: 12px;vertical-align: middle;}

.opt a{color:#fff;width:103px;height:27px;line-height:27px;border-radius:3px;margin:4px 2px 0 2px;}
.opt a.cancel{background:#8D8D8D;}
.opt a.keep{background:#3EABE7;}


/* 日志汇报 */
.render-box{margin-bottom:30px;margin-left:20px;margin-right:20px;}
.add-render .shrink{margin:10px 0 10px 20px;height:14px;line-height:12px;background:url('../img/icon25.png') repeat-x center center; background-size:750px 1px; }
.add-render .shrink img{padding:5px;background:#fff;transition:0.5s;-webkit-transition:0.5s;-mos-transition:0.5s;-mz-transition:0.5s;-o-transition:0.5s;}
.add-render .shrink img.shrink-active{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.add-render .pick{margin: 0 0 10px 30px;}
.add-render .pick ul li .pick-span{margin-right:28px;}
.add-render .pick input[name="time"]{width: 125px;background: url(../img/icon16.png) no-repeat 13px center;}
.add-render .pick ul li {margin-right: 60px;}
.add-render .pick input {width: 125px;}
.render-table tr{display:block;margin-bottom:20px;max-width:1000px;}
.render-table tr td{min-width:118px;}
.render-table tr td .xin{top:51px;left:15px;}
.render-table tr td.ta-l{padding:23px 22px;line-height:22px;border:1px solid #DFE3E9;border-radius:5px;width:100%;}
.render-table tr td.ta-l textarea{}
.render-table tr td img{margin-right:8px;}
.add-render .detailed-a{margin:10px 0 20px 31px;}
.add-render .detailed-a a{width:64px;height:21px;line-height:21px;color:#666;background:#DFE1E5;margin-left:15px;border-radius:3px;}
.cost-table{max-width:970px;}
.cost-table span{width:110px;margin-right:17px;}
.cost-table table{background:#E2E2E2;margin-left:30px;margin-bottom:5px;}
.cost-table th{background:#F2F2F2;height:32px;min-width:50px;padding: 3px 8px}
.cost-table td,#outtable3 td{background:#fff;height:28px;}
.cost-table td a{width:48px;height:21px;line-height:21px;background:#DFE1E5;color:#666;border-radius:3px;margin:5px 7px;}

/* 出差总结 */
.add-render2 .pick{margin: 0 0 10px 5px;max-width:1000px;height:95px;}
.add-render2 .pick2{height:100%;}
.add-render2 .pick ul li {margin-right: 135px;width:334px;}
.add-render2 .pick ul li .pick-span{width:100px;margin-left:22px;margin-right:0;;margin-bottom:10px;text-align:left;}
.add-render2 .pick input[name="time"]{width: 200px;background: url(../img/icon16.png) no-repeat 30px center;}
.add-render2 .pick input {width: 200px;}
.add-render2 .render-table tr td{min-width:125px;}
.add-render2 .cost-table table{max-width:800px;margin-left:20px;}
.add-render2 .speech{margin:35px 0 50px 20px;}
.speech-box1{width:220px;margin:0 120px 0 20px;}
.speech-box1 a{width:78px;height:21px;line-height:21px;color:#666;background:#DFE1E5;border-radius:3px;}
.speech-box1 p{height:13px;}
.file:hover {color: #444;background: #999}
.file input[type="file"]{position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0);cursor: pointer;width:80px;}
.speech-box2 textarea{width:450px;height:100px;;border:1px solid #DFE3E9;border-radius:4px;resize:none; vertical-align:top;margin-left:8px;padding:20px 30px;}

/* 添加明细弹窗 */
.detailed{width:548px;height:300px;top:50%;left:50%;margin-top:-150px;margin-left:-274px;border-radius:6px;z-index:100;}
.detailed h5{height:42px;line-height:42px;background:#46AEE8;border-radius:4px;margin-bottom:26px;}
.detailed-box li {width:47%;margin-bottom:15px;display:inline-block;}
.detailed-box li span{width:100px;margin-right:15px}
.detailed-box li input[type="text"]{width:132px;height:26px;border:1px solid #DFE3E9;text-align:center;font-size:12px;color:#999;border-radius:5px;}


/* 出差总结 */
.dynamic .search{color:#5a5a5a;margin-bottom:15px;}
.dynamic ul{margin:20px 0 10px 0;}
.dynamic ul li{margin:0 10px 10px 0;}
.dynamic .search a.educe{background:#EBEDF1;border:1px solid #DDDEE5;color:#999;}
.dynamic .personnel{margin-left:10px;margin-bottom:15px;}
.dynamic .personnel span{color:#ec6941;}

.dynamic-table .data-head{height:38px;line-height:38px;background:url('../img/bg2.png') repeat left center; background-size:1163px 38px;}
.dynamic-table table{margin-bottom:20px;margin-bottom:100px}
.dynamic-table table th{padding:0 10px; white-space:nowrap;}
.dynamic-table table td{font-size:12px;height:47px;line-height:47px;border-bottom:1px solid #E7E7E7;padding:0 5px;white-space:nowrap;}
.dynamic-table table td a{color:#666;background:#DFE1E5;width:46px;height:21px;line-height:21px; border-radius:4px;border:1px solid #CCC;margin:0 3px;}

.everyday-table table{margin-bottom:40px;background:#E2E2E2;}
.everyday-table table th{padding:10px 10px; white-space:nowrap;background:#F2F2F2;}
.everyday-table table td{font-size:12px;height:47px;line-height:20px;padding:10px 7px;background:#fff;min-width:100px;}

.add-render3 .pick input{text-align:left;text-indent:10px}
.add-render3 .render-table tr{display:inline-block;}
.add-render3 .render-table tr td{max-width:300px;padding:0 0 0 28px;min-width:103px;}
.add-render3 .render-table tr td.ta-l{padding:5px 15px 5px 15px;}
.filesummary{margin:30px 0 0 20px;}
.filesummary span{margin-right:10px;}
.add-render3 .cost-table .construction{margin:0 20px 0 30px}
.construction a{color:#666;background:#DFE1E5;width:60px;height:21px;line-height:21px; border-radius:4px;border:1px solid #CCC;margin-top:5px;margin-right:10px;}

.preview{margin-left:30px;margin-top:30px;height:30px;line-height:30px;}
.preview .preview-span{margin-right:20px;}
.preview a{color:#666;background:#DFE1E5;width:46px;height:21px;line-height:21px; border-radius:4px;border:1px solid #CCC;margin:0 3px;margin-left:15px;}

.add-render4 .pick{margin:40px 30px 30px 30px;}
.operation-record{margin:20px 20px 0 25px;}

/* 出差审核 */
#review .add-render3 .pick input{border:none;text-indent:18px;}
#review .add-render3 .render-table tr td{border:none;}
#review .add-render .pick input{width:98px;}
#review .add-render .pick ul li{margin-right:40px;}



/* 编辑运维站点记录 */
.edit-operation{width:594px;height:644px;top:50%;left:50%;margin-top:-322px;margin-left:-297px;border-radius:6px;z-index:100; overflow:hidden;}
.edit-operation h5{height:42px;line-height:42px;border-radius:4px;background:#46AFE8;border-radius:6px;}
.edit-operation .edit-box{margin:20px 30px;}
.edit-box .maintain-box{margin-bottom:22px;}
.edit-box .edit-time{margin:0 20px 0 25px;}
.edit-box .edit-time input{width:122px;height:26px;text-indent:28px;background:url('../img/icon16.png') no-repeat 6px center; background-size:16px 16px;width:100px; letter-spacing:0;border:1px solid #DFE3E9;border-radius:4px;color:#999;font-size:12px;}
.edit-box .maintain-box textarea{font-size: 12px;width:395px;height:40px;vertical-align:middle;border:1px solid #DFE3E9;border-radius:5px;
resize: none;color:#999;padding:10px 20px;line-height:20px;}
.edit-box .maintain-box .edit-span{width:88px;}
.supplies-table {height:136px;overflow :auto}
.supplies-table table{margin-bottom:22px;background:#E2E2E2;margin-top:5px;}
.supplies-table table th{padding:10px 10px; background:#F2F2F2;}
.supplies-table table td{font-size:12px;height:47px;line-height:20px;padding:0 5px;background:#fff;}
.supplies-table table td a{color:#666;background:#DFE1E5;width:46px;height:21px;line-height:21px; border-radius:4px;border:1px solid #CCC;margin:0 3px;}
.edit-box .edit-p a{width:64px;height:20px;line-height:22px;color:#666;background:#DFE1E5;border-radius:3px;}
.edit-box .opt a{margin:0 20px;}
.renovate{bottom:0;right:5px;width:58px;height:30px;color:#666;font-size:12px;line-height:30px;}
.renovate img{width:19px;height:19px;margin-right:7px;vertical-align:middle;}
.renovate img.active{animation:myfirst 0.5s linear infinite;-moz-animation:myfirst 0.5s linear infinite;-webkit-animation:myfirst 0.5s linear infinite;-o-animation:myfirst 0.5s linear infinite;}
@keyframes myfirst
{
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

/* 角色管理添加角色 */
#add-roles{width:550px;height:304px;top:50%;left:50%;margin-top:-152px;margin-left:-275px;border-radius:6px;z-index:100; overflow:hidden;}
#add-roles h5{height:42px;line-height:42px;border-radius:4px;background:#46AFE8;border-radius:6px;}
#add-roles .roles-box{margin:25px 0 0 40px;}
#add-roles .roles-box p{margin:10px 5px; vertical-align:middle;}
#add-roles .roles-box p span{width:70px;}
#add-roles .roles-box p input{border:1px solid #DFE3E9;border-radius:4px;width:132px;height:26px;line-height:26px;font-size:12px;color:#999;text-align:center;}
#add-roles .roles-box p textarea{border:1px solid #DFE3E9;border-radius:4px;font-size:12px;color:#999;width:375px;height:80px;padding:8px; vertical-align:top;}

.add-render2 .cost-table .cost-tb{margin-left:0;}
.layui-show .layui-show li a cite{color:#999}
