@charset "utf-8";
/* CSS Document */
/* 高级搜索 */
.content .search .ad-search{background:#E5E5E5;color:#666;text-indent:15px}
.content .search .ad-search img{margin-left:5px; vertical-align:middle;}
.ad-box{margin-top: 10px;}
.search-input{margin-bottom:10px;width:318px;}
.content .search .search-input2 input[type="text"]{width:107px;margin-right:0;margin-left:4px;}
.content .search .ad-box .search-input2 > span{line-height:30px;white-space:nowrap;}

/* 项目管理内容 */
.manage-table .data-head{height:38px;line-height:38px;background:url('../img/bg2.png') repeat left center; background-size:1163px 38px;}
.manage-table table{margin-bottom:100px;}
.manage-table table th{padding:0 10px;max-width:128px;white-space:nowrap;}
.manage-table table td{font-size:12px;border-bottom:1px solid #E7E7E7;border-right:1px solid #E7E7E7;padding:3px 5px;max-width: 128px;}
.manage-table table td .dot{width:20px;height:20px; vertical-align:middle;}
.manage-table table td a{color:#666;background:#DFE1E5;min-width:55px;height:21px;line-height:21px; border-radius:4px;border:1px solid #CCC;margin:10px 3px 0 3px;}
.manage-table table td i{height:6px;width:100%;padding:8px 0 7px 0;background:url('../img/icon7.png') no-repeat center center; background-size:10px 6px;}
.manage-table table td i.operate-active{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
.new-summary .summary-a{color:#fff;background:#3EABE7;width:102px;height:27px;line-height:27px;border-radius:5px;margin:15px 20px 20px 10px;}

/* 添加站点 */
.new-site h5{height:38px;line-height:38px;background:url('../img/bg2.png') repeat left center; background-size:1163px 38px;}
.new-site h5 span{height:100%;padding:0 15px;border-right:1px solid #fff;}
.new-site h5 span.site-active{color:#4234FB;}
.new-site .extend{margin-top:20px;width:1110px;}
.new-site .extend .extend-box{margin-right:30px;margin-bottom:18px;}
.new-site .extend .extend-box>span{width:80px;margin-right:23px;text-align:right;white-space:nowrap;}
.new-site .extend .extend-box input{width: 132px;height: 27px;text-align: center;font-size:12px;color:#999;border:1px solid #E0E4EA;border-radius:4px;}
.new-site .extend .extend-box2 {margin-left:20px;}
.new-site .extend .extend-box2 input{width:430px;}
.add-photos{border-bottom:1px solid #E2E2E2;}
.add-photos .photos-box{width: 240px;height:170px;line-height:170px;;border: 1px solid #E2E2E2;border-radius: 6px;margin: 15px;}
.new-site .keep{color:#fff;background:#3EABE7;width:102px;height:27px;line-height:27px;border-radius:5px;margin-top: 120px;}
.add-photos .photos-box a{width:100%;height:100%;background:url('../img/icon15.png') no-repeat center center; background-size:122px 51px;color:#999;}
.add-photos .photos-box2 a{background:url('../img/icon27.png') no-repeat center center; background-size:56px 14px;}
.add-photos .reveal a{background:none;}



/* 项目总览 */
.add-nav{width:100%;height:38px;line-height:38px;background:url('../img/bg2.png') repeat left center; background-size:1163px 38px;text-indent:17px;}
.overview-p{color:#EC6C45;margin-top:5px;}
.details-table {margin:10px 15px 15px 15px;}
.details-table table{background:#E2E2E2;}
.details-table tr th{background:#F2F2F2;height:34px;padding:0 10px;}
.details-table tr td{background:#fff;height:36px;padding:0 5px;min-width:50px;}
.details-table table td a{color:#666;background:#DFE1E5;width:46px;height:21px;line-height:21px; border-radius:4px;border:1px solid #CCC;margin:0 3px;}

/* 运维动态 */
.entry{margin:0 0 10px 10px;max-width:1200px;min-width:991px;}
.entry span.count{color:#ec6941; vertical-align:super;}
.entry .shrink2{width:900px;height: 14px;line-height: 12px;background: url(../img/icon25.png) repeat-x center center;background-size: 750px 1px;}
.entry .shrink2 img{background:#fff;padding:5px;transition: 0.5s;-webkit-transition: 0.5s;-mos-transition: 0.5s;-mz-transition: 0.5s;-o-transition: 0.5s;}
.entry .shrink2 img.shrink-active {transform: rotate(180deg);-ms-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);}
.entry .export{bottom:0;right:0;width:101px;height:29px;line-height:29px;color:#999;background: url(../img/icon26.png) no-repeat center center;background-size: 101px 29px;}
.entry .entry-table{width:485px;}
.entry .entry-table table{background:#E2E2E2;width:370px;margin:5px 0 20px 0;}
.entry .entry-table table th{background:#F2F2F2;height:30px;}
.entry .entry-table table td{background:#fff;height:30px;}
.entry-table .educe{width:101px;height:29px;line-height:29px;color:#999;background: url(../img/icon26.png) no-repeat center center;background-size: 101px 29px;margin:5px 0 0 10px;}
.operation-examine .examine-box{margin:32px 0 0 32px;width:545px;}
.operation-examine .examine-box li{margin-right:50px;}
.operation-examine .examine-box li input{width:134px;height:28px;border: 1px solid #DFE3E9;border-radius:4px;font-size:12px;color:#999;}
.operation-examine .examine-box .pick-span{width:85px;}
.examine-box .remarks{margin-top:20px;}
.examine-box .remarks textarea{width:352px;height:100px;;border: 1px solid #DFE3E9;border-radius:4px;font-size:12px;color:#999;vertical-align:middle;padding:17px 20px;resize:none;}






